@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


body {
  background-image: url("../images/background.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 2rem;
}

.container {
  border-style: solid;
  border-color: rgb(7, 7, 5);
  max-width: 40rem;
  /* min-width: 20rem; */
  min-height: 55rem;
  max-height: 55rem;
  margin: auto;
  background-color: rgb(7, 7, 5);
}

#box-header {
  min-height: 5rem;
  background-color: rgb(146, 106, 75);
  opacity: 0.7;
  justify-content: center;
  padding-top: 0.6rem;
}

#box-header h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  vertical-align: middle;
  font-size: 3rem;
  color: rgb(7, 7, 5);
}

#chatbox {
  min-height: 45rem;
  max-height: 45rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
  background-color: rgb(7, 7, 5);
  font-size: 1.5rem;
  opacity: 0.95;
  font-family: "Roboto", sans-serif;
}

#reply {
  text-align: left;
  padding: 2rem;
  color: rgb(146, 106, 75);
  font-weight: bold;
  opacity: 1;
  /* margin-bottom: 1rem; */
}

#message {
  text-align: right;
  padding: 2rem;
  color: antiquewhite;
  opacity: 1;
}

#box-footer {
  min-height: 5rem;
  margin: auto;
}

#box-footer .col-9,
.col-3 {
  padding-right: 1.5rem;
}

#send {
  border-color: rgb(7, 7, 5);
  background-color: rgb(7, 7, 5);
  font-size: 1.5rem;
  color: rgb(7, 7, 5);
  font-weight: bold;
}